.election-wrapper{
    padding-top:3%;
    background-color: #f6f6fa;
    padding-right:3%;
    padding-left:3%;
  }

  .election-box{
    padding-bottom: 5%;
  }
  .click-info{
    padding-bottom: 3%;
  }
  .election-btn{
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .election-status{
    display: inline-flex;
    margin: 20px 20px;
    margin-left: 3%;
  }
  
  .election-status-text{
    display: inline-flex;
    margin:0px 5px;
  }
  
  .election-status-on{
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin-top:1.5%;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
  
  .election-status-closed{
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin-top:1.5%;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
  }
  
  .election-status-cancelled{
    display: inline-flex;
    height: 15px;
    width: 15px;
    margin-top:1.5%;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .loading{
    background-color: #9bc0bc;
  }

  .error-retrieving{
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .no-election{
    padding-bottom: 3%;
  }