[Unit]
Description=D-Voting Node Service
After=network.target
Requires=unikernel.service

[Service]
User=dvoting

ExecStart=/bin/bash -c "/opt/dedis/dvoting/bin/start-dvoting /etc/dedis/dvoting/config.env"

ExecStop=/bin/kill --signal QUIT $MAINPID

ExecReload=/bin/kill --signal HUP $MAINPID

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
