[Unit]
Description=Unikernel Service
After=network.target
Before=dvoting.service

[Service]
User=root

StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty10

ExecStartPre=/bin/bash -c "/opt/dedis/dvoting/bin/create-bridge /etc/dedis/dvoting/unikernel_paths"
ExecStart=/bin/bash -c "/opt/dedis/dvoting/bin/start-unikernel /etc/dedis/dvoting/unikernel_paths"

ExecStop=/bin/kill --signal QUIT $MAINPID

ExecReload=/bin/kill --signal HUP $MAINPID

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
