[Unit]
Description=Unikernel Service
After=network.target
Before=dvoting.service

[Service]
User=dvoting

StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty10

ExecStartPre=/bin/bash -c "/opt/dedis/dvoting/bin/create-bridge /etc/dedis/dvoting/config.env"
ExecStart=/bin/bash -c "/opt/dedis/dvoting/bin/start-unikernel /etc/dedis/dvoting/config.env"

ExecStop=/bin/kill --signal INT $MAINPID

ExecReload=/bin/kill --signal HUP $MAINPID

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
