

.App {
  font-family: sans-serif;
  color: rgb(71, 71, 71);
  background-color: white;
  position:relative;
  scroll-behavior: smooth;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

.login-container{
  min-width: 58ch;
  display: flex;
  text-align:center;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 20%;
  padding-right:20%;
  justify-content: center;
  background-color: whitesmoke;
  padding-bottom: 200px;
}