


.election-candidates{
list-style: none;
display: flexbox; 
padding-bottom: 3%;
}

.election-candidate{
    list-style: disc;
    margin-left: 4%;
}
.election-details-box   {
    background-color: #f6f6fa;
    padding-left: 2%;
    padding-bottom: 2%;
}

.election-action{
    margin-left: 5%;
}
.back-btn{
    margin-top: 3%;
}
h1{
    padding-top: 2%;
    text-align: left;
    color: #177368;
}