# Values are for demonstration purpose, do not use them in production
export FRONT_END_URL="https://dvoting-dev.dedis.ch:3000"
export DELA_NODE_URL="http://localhost:9081"
export SESSION_SECRET="session secret"
export PUBLIC_KEY="adbacd10fdb9822c71025d6d00092b8a4abb5ebcb673d28d863f7c7c5adaddf3"
export PRIVATE_KEY="28912721dfd507e198b31602fb67824856eb5a674c021d49fdccbe52f0234409"