

.form-content-left{
   max-width: 50%;
    width:50%;
    height: fit-content;
    float:left;
    background-color: #f6f6fa;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #ececf0;
    margin-right: 10%;
    padding: 1%;
  }
 
  .choices-saved{
    list-style: none;
    display: block;
    font-size: smaller;
    font-weight: bolder;
  }
  
  .form-name{
    display: block;
    margin-bottom: 3%;
  }
  .form-name:focus{
    border-color: #177368;
  }
  
  .form-choice:focus{
    border-color: #177368;
  }
  
  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .form-label {
    display: block;
    padding-bottom:10px ;
   
  }
  
  .form-error{
    color: #898a8d;
    padding-top:0.5%;
    padding-left: 1%;
    font-size: 12px;
  }
  
  .submit-choice-btn{
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submit-form-btn{
    align-content: center;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .delete-btn{
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;

  }

  .option{
    font-weight:bold;
    padding-bottom: 5%;
  }