
img{
  height:50px;
  width:auto; 
}

.nav-links ul{
  width:100%;
}

.nav-links{
  display: flex;
  width:100%;
  border-bottom: 1px solid rgb(230, 225, 225);
}

.nodeco{
  text-decoration: none;
}

.nav-links li{
  display: inline-block;
  padding: 15px;
  color:#177368;
}

.nodeco:hover{
  text-shadow: 0 0.015em #177368,0 -0.015em #177368,0.01em 0 #177368,-0.01em 0 #177368;
  background-color: white;
}

.nodeco:active{
  color: aliceblue;
}

.nav-links li.last:last-child{
  float:right;
  padding-right: 5%;
  margin: 2% 5% 0 5%;
}

select{
  margin:0px;
}















 