
.ballot-wrapper{
        padding-top:3%;
        background-color: #f6f6fa;
        padding-right:3%;
        padding-left:3%;
}
.ballot-title{
    font-weight: bold;
    color: #177368;
    padding-bottom: 1%;
}

.checkbox-full{
   padding-bottom: 1%;
}
.cast-ballot-btn{
    margin-bottom: 5%;
}

.back-btn {
    border-radius: 8px;
    margin: 4px 2px;
    cursor: pointer;
}

.checkbox-text{
    padding-bottom: 1%;
}

.checkbox-label{
    padding-left: 1%;
}
