name: Go Integration Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Use Go 1.23.7
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'

      - name: Run the integration test
        run: go test -timeout 10m -run TestIntegration ./integration/... 
  bad_vote:
    name: Test bad vote
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Use Go 1.23.7
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'

      - name: Run the bad vote test
        run: go test -timeout 10m -run TestBadVote ./integration/...
  crash:
    name: Test crash
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Use Go 1.23.7
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'

      - name: Run the crash test
        run: |
          for a in $( seq 3 ); do
            echo "Testing sequence $a"
            go test -timeout 10m -run TestCrash ./integration/... && exit 0
          done
          exit 1
  revote:
    name: Test revote
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Use Go 1.23.7
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.7'

      - name: Run the revote test
        run: go test -timeout 10m -run TestRevote ./integration/...
