name: Web frontend lint

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Web frontend Lint
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./web/frontend

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
          node-version: '16'

    - name: Instal dependencies
      run: npm install

    - name: run eslint
      run: npm run eslint

    - name: run prettier-check
      run: npm run prettier-check