[Unit]
Description=D-Voting Service
After=network.target

[Service]
User=d-voting
ExecStart=/opt/dedis/dvoting/bin/run
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
