[Unit]
Description=D-Voting Service
After=network.target

[Service]
User=root
ExecStart=/opt/dedis/dvoting/bin/run /etc/dedis/dvoting/unikernel_paths
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
