[Unit]
Description=My Service Description
After=network.target other.service
Wants=other.service

[Service]
User=mypackage
ExecStart=/opt/company/mypackage/bin/run_component.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
